.header {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

li {
  margin-left: 15px;
  font-size: 15px;
  cursor: pointer;
}

tui-input {
  width: 20rem;
}

#tui_01695924767357 {
  padding: 50px;
}

form {
  position: relative;
}

form button {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 40px;
  height: 40px;
  border: none;
  background: none;
}